.parent {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4,1fr);
  place-items: center center;
}

.div1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.div2 {
  grid-column: 3/5;
  grid-row: 1/2;
}

.div3 {
  grid-column: 3/5;
  grid-row: 2/3;
}

.div4 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.div5 {
  grid-column: 1/3;
  grid-row: 4/5;
}

.div6 {
  grid-column: 3/5;
  grid-row: 3/5;
}

p {
  font-size: 23px;
}

.div1 img {
  width: 80%;
  margin-left: 50px;
}

.div6 img {
  width: 80%;
  margin-left: 70px;
}