aside {
  background-color: #f4f4f4;
  float: right;
  font-size: 20px;
}

.content {
  background-color: #f9f9f9;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

ul a {
  display: block;
  margin-top: 19px;
  font-size: 20px;
}

a:link {
  color: red;
}

a:visited {
  color: #8B0000;
}

a:hover {
  color: green;
}

a:active {
  color: rgb(184, 134, 11);
}

a {
  text-decoration: none;
}