.container {
  display: flex;
  gap: 20px;
  margin: 50px;
}

.img {
  width: 150px;
  height: auto;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.py:hover {
  transform: scale(0.5);
}

.cpp:hover {
  transform: rotate(45deg);
}

.java:hover {
  transform: translateX(50px);
}

.js:hover {
  transform: skewX(-20deg);
}


.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease;
  border: 2px solid transparent;
}

.btn1:hover {
  background: black;
  color: white;
  border-color: black;
}

.btn2:hover {
  border: 10px solid gold;
  outline: 10px red solid;
}

.btn3:hover {
  background: white;
  border-top: 4px solid green;
  border-bottom: 4px solid green;
  color: black;
}

.btn4:hover {
  background: white;
  border-right: 4px solid blue;
  border-left: 4px solid blue;
  color: black;
}

.btn5:hover {
  background:
    radial-gradient(circle at center,
      yellow 5%,
      orange 10%,
      rgb(252, 16, 225) 30%,
      purple 50%,
      aqua 100%);
}


.new_container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
  }

  .image {
    width: 220px;
    height: 150px;
    background-color: yellow;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
  }

  .image:nth-child(1) {
    transform: perspective(200px) rotateX(10deg);
  }

  .image:nth-child(2) {
    transform: perspective(200px) rotateY(-15deg);
  }

  .image:nth-child(3) {
    transform: perspective(200px) rotateX(10deg);
  }

  .image:nth-child(4) {
    transform: perspective(200px) rotateY(15deg);
  }


  #nine {
    display: inline-block;
    animation: img1 4s linear infinite normal 2s forwards;
    transform-style: preserve-3d;
    transform:perspective(300px) rotateY(40deg);
    position: relative;
}
@keyframes img1{
    0%{
        left: 0;
    }
    50%{
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        left:0;
    }   
    100%{
        transform-style: preserve-3d;
        transform: rotateY(0deg);
    }
}
#ten {
    display: inline-block;
    animation: img2 4s linear infinite normal 2s forwards;
    transform-style: preserve-3d;
    transform:perspective(300px) rotateY(40deg);
    position: relative;
}
@keyframes img2{
    0%{
        margin-left: -200px;
        left: 0;
    }
    50%{
        margin-left: -200px;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        left:0;
    }   
    100%{
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        filter: blur(10px);
    }
}
#eleven {
    display: inline-block;
    animation: img3 4s linear infinite normal 2s forwards;
    transform-style: preserve-3d;
    transform:perspective(300px) rotateY(40deg);
    position: relative;
}
@keyframes img3{
    0%{
        margin-left: -200px;
        left: 0;
    }
    50%{
        margin-left: -200px;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        left:0;
    }   
    100%{
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        filter:grayscale(1);
    }
}
#twelve {
    display: inline-block;
    animation: img4 4s linear infinite normal 2s forwards;
    transform-style: preserve-3d;
    transform:perspective(300px) rotateY(40deg);
    position: relative;
}
@keyframes img4{
    0%{
        margin-left: -200px;
        left: 0;
    }
    50%{
        margin-left: -200px;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        left:0;
    }   
    100%{
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        filter:invert(1);
    }
}


.bgim {
	margin: auto;
	display: block;
	width: 400px;
	height: 400px;
	border: 3px solid blue;
	background-image: url('./img/1.png');
	background-size: cover;
	background-position: center;
	animation: bgim 5s linear infinite;		
	position: relative;
}
@keyframes bgim {
	0% {
		background-image: url('images/image1.jpg');
	}
	20% {
		background-image: url('images/image2.jpg');
	}
	40% {
		background-image: url('images/image3.jpg');
	}
	60% {
		background-image: url('images/image4.jpg');
	}
	80% {
		background-image: url('images/c++.jpg');
	}
	100% {
		background-image: url('images/java.png');
	}
}
