h2 {
    text-align: center;
}

.container {
  display: flex;
  gap: 20px;
  margin: 50px;
}

#one {
  width: 380px;
  height: auto;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.py:hover {
  transform: scale(0.5);
}

.cpp:hover {
  transform: rotate(45deg);
}

.java:hover {
  transform: translateX(50px);
}

.js:hover {
  transform: skewX(-20deg);
}


.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.4s ease;
  border: 2px solid transparent;
}

.btn1:hover {
  background: black;
  color: white;
  border-color: black;
}

.btn2:hover {
  box-shadow: 0 0 0 5px red, 0 0 0 10px gold;
}

.btn3:hover {
  background: white;
  box-shadow: inset 0 4px 0 green, inset 0 -4px 0 green;
  color: black;
}

.btn4:hover {
  background: white;
  box-shadow:
    inset 4px 0 0 blue,
    inset -4px 0 0 blue;
  color: black;
}

.btn5:hover {
  background:
    radial-gradient(circle at center,
      yellow 5%,
      orange 10%,
      rgb(252, 16, 225) 30%,
      purple 50%,
      aqua 100%);
}


.new_container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
  }

  .image {
    width: 220px;
    height: 150px;
    background-color: yellow;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
  }

  .image:nth-child(1) {
    transform: perspective(200px) rotateX(20deg);
  }

  .image:nth-child(2) {
    transform: perspective(200px) rotateY(-15deg);
  }

  .image:nth-child(3) {
    transform: perspective(200px) rotateX(20deg);
  }

  .image:nth-child(4) {
    transform: perspective(200px) rotateY(15deg);
  }


  #nine {
    display: inline-block;
    animation: img1 4s linear infinite normal 2s forwards;
    transform-style: preserve-3d;
    transform:perspective(300px) rotateY(40deg);
    position: relative;
    width: 300px;
    height: 200px;
}
@keyframes img1{
    0%{
        left: 0;
    }
    50%{
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        left:0;
    }   
    100%{
        transform-style: preserve-3d;
        transform: rotateY(0deg);
    }
}
#ten {
    display: inline-block;
    animation: img2 4s linear infinite normal 2s forwards;
    transform-style: preserve-3d;
    transform:perspective(300px) rotateY(40deg);
    position: relative;
    width: 300px;
    height: 200px;
}
@keyframes img2{
    0%{
        margin-left: -200px;
        left: 0;
    }
    50%{
        margin-left: -200px;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        left:0;
    }   
    100%{
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        filter: blur(10px);
    }
}
#eleven {
    display: inline-block;
    animation: img3 4s linear infinite normal 2s forwards;
    transform-style: preserve-3d;
    transform:perspective(300px) rotateY(40deg);
    position: relative;
    width: 300px;
    height: 200px;
}
@keyframes img3{
    0%{
        margin-left: -200px;
        left: 0;
    }
    50%{
        margin-left: -200px;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        left:0;
    }   
    100%{
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        filter:grayscale(1);
    }
}
#twelve {
    display: inline-block;
    animation: img4 4s linear infinite normal 2s forwards;
    transform-style: preserve-3d;
    transform:perspective(300px) rotateY(40deg);
    position: relative;
    width: 300px;
    height: 200px;
}
@keyframes img4{
    0%{
        margin-left: -200px;
        left: 0;
    }
    50%{
        margin-left: -200px;
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        left:0;
    }   
    100%{
        transform-style: preserve-3d;
        transform: rotateY(0deg);
        filter:invert(1);
    }
}


.bgim {
	margin: auto;
	display: block;
	width: 400px;
	height: 400px;
	border: 3px solid blue;
	background-image: url('./img/1.png');
	background-size: cover;
	background-position: center;
	animation: bgim 5s linear infinite;		
	position: relative;
}
@keyframes bgim {
	0% {
		background-image: url('images/image1.jpg');
	}
	20% {
		background-image: url('images/image2.jpg');
	}
	40% {
		background-image: url('images/image3.jpg');
	}
	60% {
		background-image: url('images/image4.jpg');
	}
	80% {
		background-image: url('images/c++.jpg');
	}
	100% {
		background-image: url('images/java.png');
	}
}


#one11{
    display: block;
    width: 250px;
    height: 170px;
    animation: img11 1s linear infinite;
    animation-direction: alternate;
    position: relative;

}
@keyframes img11{
    0%{
        left: 0;
    }
    100%{
       left:200px;
    }
}
#one12{
    display: block;
    width: 250px;
    height: 170px;
    animation: img12 1s linear infinite;
    animation-direction: alternate;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;

}
@keyframes img12{
    0%{
        left: 0;
    }
    50%{
        left:100px;
        border-radius: 100px;
    }
    100%{
       left:200px;
    }
}
#one13{
    display: block;
    width: 250px;
    height: 170px;
    animation: img13 2s linear infinite;
    position: relative;

}		
@keyframes img13 {
    0% {
        transform: translateX(-100vw); 
    }
    100% {
        transform: translateX(100vw); 
    }
}
#one14{
    display: block;
    width: 250px;
    height: 170px;
    animation: img14 1s linear infinite;
    animation-direction: alternate;
    position: relative;

}
@keyframes img14{
    0%{
        top: 0;
    }
    100%{
        top:50px;
    }
}
#one15{
    display: block;
    width: 250px;
    height: 170px;
    animation: img15 4s linear infinite;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;

}
@keyframes img15{
    0%{
        left: 0;
        top:0;
    }
    25%{
        left:0px; 
        top:50px;
    }
    50%{
        left:50px;
        top:50px
    }
    75%{
       left:50px;
       top:0px;
    }
    100%{
       left:0px;
       top:0px;
    }
}


.divv {
	display: block;
	width: 296px;
	height: 296px;
	margin: auto;
	border: 2px, solid, black;
	text-align: center;
	font-size: 18px;
	color: black; 
	transition: color 5s linear; 
	position: relative;
}
	
.divv:hover {
	color: yellow		;
	transition: 5s;
}


h2{
    animation: h2 3s infinite alternate;
    color: blue;
}
@keyframes h2
{
   0% { opacity: 0;}
   100% { opacity: 0.8;}
}